/* Estilo do header */
body{
    font-family: "Montserrat", sans-serif; 
  }
   
  .container-header{
    height: 220px;
    background-color: #0080cc;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .titulo-principal{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    color: #1b2738;
  }
  
  .descricao-titulo{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
    color: #1b2738;
  }
  
  /* Estilo do main */
  .container-main{
    margin-top: 50px;
  }
  
  .menu a{
    display: flex;
    text-decoration: none; /*parar o trasado da letra*/
    color:#0080cc;; /*cor*/
    font-size: 20px; /*tamanho da letra*/
    text-transform: uppercase; /*incluir trasado na letra ao passar o cursor*/
    margin: 0 180px 0  ;
  }
  
  .menu a:hover{
    text-decoration: underline;
  }
  
  .img-menu{
    width: 180px;
    height: 100px;
  }
  
  /* Estilo do rodape */
  .container-footer{
    margin-top: 50px;
    text-align: center;
    color: #fdfdfd;
    padding: 15px 0;
    font-size: 14px;
    background-color: #0080cc;
    bottom: 0;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0080cc;
  }
  
  .container-footer > p{
    margin: 0 10px;
  }
  
  .icone-footer1{
    width: 26px;
  }
  
  .icone-footer2{
    width: 28px;
    margin: 0 10px;
  }